[Desktop Entry]
Version=0.1
Name=script
Comment=generated program
Exec=/usr/bin/gnome-terminal -e "bash -c '/usr/local/bin/script; bash'"
Terminal=false
Type=Application
Categories=Utility;Application;
